---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Jhon Arciniegas";
import Profile from "../components/Profile.astro";
---

<Layout title={pageTitle}>
  <main class="flex space-x-4 mt-6 items-center">
    <div>
      <img
        src="../img/profile.webp"
        alt="Jhon Arciniegas"
        class="h-16 w-16 object-cover rounded-full"
      />
    </div>
    <div>
      <h1>Jhon Arciniegas</h1>
      <h3>Desarrollador Frontend</h3>
    </div>
  </main>
</Layout>
<Profile />

<style></style>
