<header>
  <nav class="flex space-x-4 py-4 border-b border-neutral-800 text-neutral-50">
    <a href="/" class="hover:text-neutral-400">Inicio</a>
    <a href="/blog" class="hover:text-neutral-400">Blog</a>
  </nav>
</header>
