<section class="mb-6 mt-6">
  <div class="mb-3">
    <p>
      Soy un desarrollador especializado en JavaScript, React, y TypeScript.
    </p>
  </div>
  <div>
    <p>
      Escribí mis primeras líneas de código en 2019 con Java. Disfruto creando
      productos integrales, desde su concepción hasta su implementación. Mi
      enfoque está puesto en el desarrollo de experiencias intuitivas que se
      ajustan a las necesidades de cada usuario.
    </p>
  </div>
</section>
