<h3 class="mt-6 mb-4">Proyectos</h3>
<section
  class="grid xl:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-5 mb-6 text-sm"
>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </a>
    </div>
  </article>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 2</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </article>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 3</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </a>
    </div>
  </article>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </article>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 5</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </article>
  <article
    class="items-start justify-between border border-transparent hover:border-neutral-700 bg-neutral-800 p-2 sm:gap-2 sm:p-3 rounded-xl"
  >
    <div>
      <a href="" class="gap-x-2">
        <h4>Proyecto 6</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </article>
</section>
