---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4 sm:p-0 mx-auto max-w-[560px]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    background-color: #111010;
    font-family: "Inter-Regular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter-Medium";
    src: url(../../public/fonts/Inter-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter-Regular";
    src: url(../../public/fonts/Inter-Regular.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #e0dcdc;
  }
  p {
    color: #bdbcbc;
  }
  span {
    font-family: "Inter-Regular";
  }
</style>
